.title{
  margin: auto;
}

.icon{
  margin: 15px auto;
}

.display-barcode{
  position: relative;
}
#card{
  display: none;
}
.type-view{
  position: absolute;
  top: -3.1em;
  right: 15px;
}
.toggle-view, .pagination-info{
  display: -webkit-inline-box;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    /* width: 40em; */
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}


.list-unstyled li{
    text-align: right;
}
.dropdown-toggle::after {
  left: 0;
  right: inherit;
}

.navbar-nav .nav-link{
  padding-left: 15px
}


.form_filter .form-inline .custom-select {
  width: 8rem;
}

#filter_form {
  display: none;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
