<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/bootstrap.css') }}" >
    <!-- <link rel="stylesheet" href="{{  url_for('static', filename='css/mdb.min.css') }}" > -->
    <link rel="stylesheet" href="{{  url_for('static', filename='css/all.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css') }}" >

    <script defer src="{{ url_for('static', filename='js/all.min.js') }}" ></script>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="  text-dark">
    <div class="container d-md-flex align-items-stretch">
      <div id="content" class="p-4 p-md-4 pt-5">
        {% if request.url_rule.endpoint != 'login' %}
        {% if request.url_rule.endpoint != 'signup' %}
        <nav aria-label="breadcrumb">
          <ul class="nav">

            <div class="" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ session['user_name']|upper }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('setting')}}">ألاعدادات</a>
                    <a class="dropdown-item" href="{{ url_for('logout')}}">تسجل خروج</a>
                  </div>
                </li>
              </ul>
            </div>
          </ul>
        </nav>
        {% endif %}
        {% endif %}
      {% block body %}

      {% endblock %}
      {% if request.url_rule.endpoint != 'login' %}
      {% if request.url_rule.endpoint != 'signup' %}
        <div class="hide-nav">
          <span class="text-dark" ><button type="button" class="btn btn-link" id="show_nav_toggel" name="button"><i class="fa fa-angle-right"></i></button>
          </span>
        </div>
      {% endif %}
      {% endif %}
      </div>
      {% if request.url_rule.endpoint != 'login' %}
      {% if request.url_rule.endpoint != 'signup' %}
      <nav id="sidebar">
				<div class="p-4 pt-5">


          <div class="text-center">

            <!-- <img class="icon" src="{{  url_for('static', filename='image/icon1.png') }}" width="100px" height="100px" title="Barcode Logo" alt="Barcode Logo"> -->
            <img class="icon" src="{{ url_for('event_logo', id=session["company_id"]) }}"  title="Barcode Logo" alt="Barcode Logo">
          </div>
					<!-- <h5>Categories</h5> -->
	        <ul class="list-unstyled components mb-5">
            <li>
	            <a href="{{ url_for('index') }}" aria-expanded="false" >الصفحة الرئيسية</a>
	          </li>
            <li>
	            <a href="{{ url_for('all_student') }}" aria-expanded="false" >الطـلاب</a>
	          </li>
            <li>
	            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">الاعدادات</a>
	            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li><a href="{{ url_for('all_student') }}">الطلاب<span class="fa fa-chevron-left ml-2"></span></a></li>
                <li><a href="{{ url_for('setting') }}">الاعدادات<span class="fa fa-chevron-left ml-2"></span></a></li>

	            </ul>
	          </li>

	        </ul>
					<!-- <div class="mb-5">
						<h5>Tag Cloud</h5>
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">dish</a>
              <a href="#" class="tag-cloud-link">menu</a>
              <a href="#" class="tag-cloud-link">food</a>
              <a href="#" class="tag-cloud-link">sweet</a>
              <a href="#" class="tag-cloud-link">tasty</a>
              <a href="#" class="tag-cloud-link">delicious</a>
              <a href="#" class="tag-cloud-link">desserts</a>
              <a href="#" class="tag-cloud-link">drinks</a>
            </div>
					</div>
					<div class="mb-5">
	        	<h5>Newsletter</h5>
						<form action="#" class="subscribe-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="icon-paper-plane"></span></div>
	              <input type="text" class="form-control" placeholder="Enter Email Address">
	            </div>
	          </form>
					</div> -->
	      </div>
    	</nav>
      {% endif %}
      {% endif %}

		</div>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    <!-- <script src="{{ url_for('static', filename='js/extention/choices.js') }}" ></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}" ></script>

  </body>
</html>
