<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{  url_for('static', filename='bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css') }}" >

  </head>
  <body>
  {% block body %}

  {% endblock %}

    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='script.js') }}" ></script>

  </body>
</html>
