{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}

  <div class="form" style="width:50%; margin:auto">

    <div class="p-4 form-title">
      <h2 class="text-center">إدخال الطلاب</h2>
    </div>
    <form action="{{ url_for('student_upload_data') }}" style="direction: rtl;" method="post" enctype = "multipart/form-data">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">الشعبة</label>
        </div>
        <select class="custom-select" name="major" id="inputGroupSelect01">
          <option selected>...</option>
          {% for major in majors %}
          <option value="{{ major.id }}">{{ major.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect02">الفرقة</label>
        </div>
        <select class="custom-select" name="level" id="inputGroupSelect02">
          <option selected>...</option>
          {% for level in levels %}
          <option value="{{ level.id }}">{{ level.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" name="student_file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">اختر الملف</label>
        </div>
      </div>

      <div class="input-group-prepend">
        <input class="btn btn-primary " type="submit" id="inputGroupFileAddon01" value="تحميل"/>
      </div>
    </form>
  </div>

{% endblock %}
