{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div class="container">
  <div class="title">
    <h1 class="text-center">
      <img class="icon" src="{{  url_for('static', filename='image/icon1.png') }}" width="100px" height="100px" title="Barcode Logo" alt="Barcode Logo">
    </h1>
  </div>
  <div class="" style="width:40%; margin:auto">
    <div class="title form-title">
      <h2 class="text-center">Login</h2>
    </div>
    <form method="post" action="{{ url_for('login') }}">
      {{ csrf_token }}

      <div class="form-group">
        <label for="exampleInputUsername">Email address</label>
        <input type="text" class="form-control" name="username" id="exampleInputUsername" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit"  class="btn btn-primary">Login</button>
    </form>
    <p class="text-center">I don't have a acount! <a href="{{ url_for('signup') }}" class="btn btn-link">Signup</a></p>
  </div>
</div>
{% endblock%}
