{% extends "base.html" %}

{% block title %}
    تسجيل الدخول
{% endblock %}

{% block body %}
<div class="container">
  <div class="title">
    <h1 class="text-center">
      <!-- <img class="icon" src="{{  url_for('static', filename='image/icon1.png') }}" width="100px" height="100px" title="Barcode Logo" alt="Barcode Logo"> -->
      <img class="p-2" src="{{ url_for('event_logo', id=company.id) }}" style="margin: 15px auto;" title="Barcode Logo" alt="Barcode Logo">
    </h1>
  </div>
  <div class="m-3 p-3" style="margin:auto">
    <div class="title form-title">
      <h2 class="text-center">تسجيل دخول</h2>
    </div>

    {%- if get_flashed_messages %}

      <div class="messages text-center" style="width: 50%;margin: auto;">
        {%- for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
          {%- endfor %}
      </div>
    {%- endif %}
    
    <div class="setting-form m-3">
      <form class="p-3" action="{{ url_for('login') }}" method="post">
        {{ csrf_token }}
        <div class="form-group">
          <label for="exampleInputUsername">البريدالالكتروني</label>
          <input type="text" class="form-control" autofocus name="username" id="exampleInputUsername" aria-describedby="emailHelp">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">كلمة المرور</label>
          <input type="password" name="password" class="form-control"  id="exampleInputPassword1">
        </div>

        <button type="submit"  class="btn btn-primary">دخول</button>
      </form>
    </div>
    <div style="direction: rtl;">
      <p class="text-center">اريد التسجيل كـ <a href="{{ url_for('signup') }}" class="btn btn-link"> مستخدم جديد</a></p>
    </div>
    <div class="footer text-center text">
      <footer><a href="https://www.oi.edu.eg/ar/">Obour Institutes</a> &copy; Copyright 2020 </footer>
    </div>
  </div>
</div>
{% endblock%}
