{% extends "base.html" %}

{% block title %}
    All Students
{% endblock %}

{% block body %}
<!-- Page Content  -->

<div>
  <div class="student">
    <div class="pt-4 pb-3 form-title">
      <h2 class="text-center">الطلاب</h2>
    </div>

    <div class="s009 mb-3">
      <form action="{{ url_for('search') }}" method="POST">
        <div class="inner-form">
          <div class="basic-search">
            <div class="input-field">
              <input id="search" type="text" name="search_data" autofocus placeholder="بحث .." />
              <!-- <input type="text" name="" value=""> -->
              <div class="icon-wrap">
                <button type="submit" class="btn btn-light" id="search_btn">
                <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
                </button>
                <!-- <input type="submit" id="search_btn" name="search" value="search"> -->
              </div>
              <div class="icon-fiter p-3">
                <div id="filter_button">
                  <i class="fas fa-filter fa-sm"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="advance-search" id="filter_form">
            <span class="desc text-right">بحث متقدم</span>
            <div class="row">
              <div class="col-md-6 form-inline">
                <div class="input-select">
                  <!-- <label for="selectboxnum1"></label> -->
                  <select data-trigger="" class="custom-select my-1 mr-sm-2" id="selectboxnum1" name="major_filter">
                    <option placeholder="الشعبة" value="0">الشعبه</option>
                    {% for row in majors  %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6 form-inline">
                <div class="input-select">
                  <select data-trigger="" class="custom-select my-1 mr-sm-2" name="level_filter">
                    <option placeholder="" value="">الفرقة</option>
                    {% for row in levels %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

            </div>

          </div>
        </div>
      </form>
    </div>


    <div class="row">
      <!-- <div class="table-control m-2" style="position:relative;display:-webkit-inline-box;">
        <div>
          <button type="button" id="filter_button"  class="btn btn-light" name="button"><i class="fas fa-filter fa-sm"></i> Filter</button>

          <div class="ml-1">
           <div class="pagination-info">
             {{ pagination.info }}
           </div>
           <div class="toggle-view p-2">
             <button type="button" id="list_view" onclick="viewList()" class="btn btn-outline-dark btn-sm"><i class="fas fa-list-ul"></i></button>
             <button type="button" id="card_view" onclick="viewCard()" class="btn btn-outline-dark btn-sm"><i class="fas fa-barcode"></i></button>
           </div>
         </div>
        </div>



        <div class="form_filter m-1" id="filter_form">
          <form class="form-inline">
            <select class="custom-select my-1 mr-sm-2" name="major">
              <option value="0">......</option>
              {% for row in majors  %}
              <option value="{{ row.id }}">{{ row.name }}</option>
              {% endfor %}
            </select>

            <select class="custom-select my-1 mr-sm-2" name="level">
              <option value="0">......</option>
              {% for row in levels %}
              <option value="{{ row.id }}">{{ row.name }}</option>
              {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary mb-2 btn-sm">Search</button>
          </form>
        </div>


      </div> -->

      <form action="{{ url_for('delete_all') }}" method="post">
        <button class="btn btn-danger btn-sm" title="Delete All" type="submit" style="cursor: pointer;" name="delete_all"><i class="fas fa-trash-alt" ></i></button>
      </form>
      <form action="{{ url_for('generate_svg') }}" method="post" style="margin-left:5px">
        <button class="btn btn-info btn-sm" title="Generate SVG Image" type="submit" style="cursor: pointer;" name="generate"><i class="fas fa-barcode" ></i></button>

      </form>

    </div>
    <div class="display-barcode">

      <div class="list-view" id="list">


        <table class="table text-right bg-white" id="student_table" style="direction:rtl;">
          <thead>
            <tr>
              <th scope="col"><input type="checkbox" onClick="toggle(this)" style="height:1em;width: 1em;" name="selectall" value="0"></th>
              <th scope="col">#</th>
              <th scope="col">الكود</th>
              <th scope="col">الاسم</th>
              <th scope="col">الشعبة</th>
              <th scope="col">الفرقة</th>
              <th scope="col">الباركود</th>
              <th scope="col">الملفات</th>
            </tr>
          </thead>
          <tbody>

            {% for row in rows.students %}

            <tr>
              <td><input type="checkbox" name="student" value="{{ row.id }}" style="height: .9em;width: .9em;"></td>
              <th scope="row">{{ loop.index + pagination.skip }}</th>
              <td>{{ row.un_id }}</td>
              <td><a href="{{ url_for('student', id=row.id) }}">{{ row.name }}</a></td>
              {% for x in rows.data %}
                {% if x.student_id == row.id %}
                  <td>{{ x.major }}</td>
                  <td>{{ x.level }}</td>
                {% endif %}
              {% endfor %}
              {% if row.barcode_path %}
              <td><img src="{{ url_for('static', filename=row.barcode_path) }}" alt="{{ row.name }}" style="height:34%" title="{{ row.un_id }}-{{ row.name }}"></td>
              {% else %}
              <td>-</td>
              {% endif %}
              <td>

                <a href="{{ url_for('generate_word_file', id=row.id) }}" class="btn btn-light text-info btn-sm" title="Generate Word File for student data." type="submit" style="cursor: pointer;" name="delete_all"><i class="fas fa-file-word"></i></a>
                <a href="{{ url_for('generate_word_file', id=row.id) }}" class="btn btn-light text-danger btn-sm" title="Generate PDF File for student data." type="submit" style="cursor: pointer;" name="delete_all"><i class="fas fa-file-pdf"></i></a>
                <a href="#"class="btn btn-light text-success btn-sm"  download><span><i class="fas fa-image"></i></span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card" id="card">
        <div class="row">
          {% for row in students %}
          <div class="col-md-2">
            <div class="card p-1" for="check_{{ row.un_id }}" style="width: 11rem;position:relative;">

              <input type="checkbox" name="student_card_v" id="check_{{ row.un_id }}" value="{{ row.id }}" style="position:absolute; right:1px"/>
              {% if row.barcode_path %}
              <img src="{{ url_for('static', filename=row.barcode_path) }}" alt="{{ row.name }}" class="card-img-top"  title="{{ row.un_id }}-{{ row.name }}">
              {% else %}

              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ row.major_id }} - {{ row.level_id }}</p>
                <a href="#" class="btn btn-outline-primary btn-sm">Print</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

    </div>
      <div class="pagination-bar" style="margin:0 40%">
        {{ pagination.links }}
      </div>

  </div>
</div>


{% endblock%}
